@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Comfortaa', helvetica, sans-serif;
}

html {
    height: 100%;
}

.trapezius {
}

.btn-oneClick {
    background: #1E8346;
    width: 200px;
    height: 45px;
    border-radius: 25px;
    border: 0;
}

.btn-busket {
    background: #D4D4D4;
    width: 200px;
    height: 45px;
    border-radius: 25px;
    border: 0;
}

g:hover {
    opacity: 0.6;
}

hr {
    border: none;
    background-color: #b2b2b2;
    height: 1.2px; 
}

.bg-tovar-1 {
    background: url(../img/gantel.png) no-repeat;
    background-size: contain;
}

.bg-tovar-2 {
    background: url(../img/shtanga.webp) no-repeat;
    background-size: contain;
    background-position: center;
}

.bg-tovar-3 {
    background: url(../img/brus.webp) no-repeat;
    background-size: contain;
}

.tovar {
    border-radius: 1em;
}

.bg-tovar:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.input {
    border-radius: 1em;
    width: 80%;
}

.gantels {
    width: 40%;
    margin-left: 700px;
}


.zelLine {
    border-top: 7px solid #326500;
    border-radius: 12px;
}

.catalog {
    border-radius: 10px;
}

.name {
    font-size: 20px;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.price {
    border-radius: 1em 0 1em 0;
    width: 150px;
    height: 35px;
    text-align: center;
    background: black;
}

.priceMore {
    border-radius: 2em;
    width: 170px;
    height: 45px;
    background: black;
    margin-left: 20px;
}

.priceNumber {
    font-size: 22px;
    margin-top: auto;
    margin-bottom: auto;
}

.heading {
    font-family: 'Comfortaa';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: -0.015em;
    text-align: center;

}


body #fp-nav {
    opacity: 0;
}

body #fp-nav.visible {
    opacity: 1;
}